body{
  background-color: rgb(235, 232, 232);
  min-width: 650px;
  .menu-bar{
    height: 56px;
    width: 100vw;
    background-color: red;
    padding: 0 170px;
    display: flex;
    justify-content: space-between;
    &__title{
      font-size: 30px;
      text-decoration: none;
      padding: 9px;
      &__text{
        font-size: 30px;
        text-decoration: none;
        color: white;
      }
    }
    &__left{
      line-height: 56px;
      font-size: 25px;
      &__text{
        text-decoration: none;
        color: white;
      }
    }
  }
  .contents{
    margin: 30px auto;
    height: 600px;
    width: 70%;
    background-color: white;
    overflow: scroll;
  }
}

.wrapper{
  display: flex;
}